<%= form_for @role, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :role_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :role_code, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :role_type, "组织类型", :class => "control-label" %>
    <div class="controls">
    <%=f.select :role_type,{"标准"=>0,"流程"=>1},{:include_blank=>"请选择"},{:id=>"role_type_list" }%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                roles_path, :class => 'btn' %>
  </div>
<% end %>
